.carousel {
  width: 70%;
  margin: 10% 0% 15% 15%;
  position: absolute;

  // ;
}

.background {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

// background: url(../assets/background.jpg) no-repeat center center fixed;
// -webkit-background-size: cover;
// -moz-background-size: cover;
// -moz-background-size: cover;
// background-size: cover;
