.carousel {
  width: 70%;
  margin: 10% 0% 15% 15%;
  position: absolute;

  // ;
}

// background: url(../assets/background.jpg) no-repeat center center fixed;
// -webkit-background-size: cover;
// -moz-background-size: cover;
// -moz-background-size: cover;
// background-size: cover;
