.welcome-speech {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: -2;
  top: 0;
}
.welcome-title {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
.welcome-content {
  display: flex;
  justify-content: center;
  margin: 0 3em;
}
