.certificateButton {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 15vh;
  height: 40px;
  width: 80%;
  border: 0;
  background-color: #FF7110;
  color: white;
  z-index: 20;
}
.certificateButton:hover {
  box-shadow: 0px 0px 20px #364d79;
  cursor: pointer;
  color: #364d79;
}
