.certificateButton {
  position: absolute;
  border: 0;
  right: 0;
  background-color: transparent;
}
.certificateButton:hover {
  cursor: pointer;
}
.errorMessagePDF {
  position: relative;
  left: 5%;
  width: 100%;
  color: red;
}
