asgiref==3.2.3
boto3==1.14.17
botocore==1.17.17
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
defusedxml==0.6.0
docutils==0.15.2
Django==2.1.15
django-allauth==0.41.0
django-braces==1.14.0
django-cors-headers==3.2.1
django-nested-admin==3.2.4
django_rest_passwordreset==1.1.0
django-rest-auth==0.9.5
django-rest-knox==4.1.0
django-rest-framework-social-oauth2==1.1.0
django-sendgrid-v5==0.8.1
django-storages==1.9.1
django-oauth-toolkit==1.3.2
django-webpack-loader==0.6.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
idna==2.8
jmespath==0.10.0
oauthlib==3.1.0
pillow==2.2.2
psycopg2==2.8.4
pycparser==2.19
python3-openid==3.1.0
python-dateutil==2.8.1
python-decouple==3.3
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
six==1.13.0
sqlparse==0.3.0
social-auth-app-django==3.1.0
social-auth-core==3.3.0
s3transfer==0.3.3
urllib3==1.25.8
gunicorn==19.7.1
whitenoise==3.3.1
