@import "../../constants.css";

.welcomeScreenContainer {
  position: absolute;
  background-color: #fdbb77;
  width: 90vw;
  max-width: 1500px;
  height: 800px;
  margin-top: 50px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  font-family: var(--textFont-primary);
}
.containerWelcomeAnimation {
  position: absolute;
  bottom: -100px;
  right: -80px;
  width: 500px;
  z-index: -1;
}
.VocabularyOfDay {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #fdbb77;
  box-shadow: 0 0 5px #ff7110;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
.DashboardProgressBar {
  position: absolute;
  display: flex;
  align-items: center;
  width: 90%;
  left: 5%;
  height: 40px;
  top: 230px;
}
.DatesInfoContainer1 {
  position: absolute;
  width: 30%;
  height: 80px;
  right: 5%;
  top: 290px;
  border-radius: 10px;
  border: 2px solid #fdbb77;
  box-shadow: 0 0 5px #ff7110;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DatesInfoContainer2 {
  position: absolute;
  width: 30%;
  height: 80px;
  right: 5%;
  top: 400px;
  border-radius: 10px;
  border: 2px solid #fdbb77;
  box-shadow: 0 0 5px #ff7110;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DashboardChaptersInfo1 {
  position: absolute;
  border-radius: 10px;
  border: 2px solid #fdbb77;
  box-shadow: 0 0 5px #ff7110;
  width: 25%;
  height: 400px;
  right: 40%;
  top: 320px;
  overflow: scroll;
}
.DashboardChaptersInfo1 h2 {
  margin-top: -50px;
  color: black;
}
.DashboardChaptersInfo2 {
  position: absolute;
  border-radius: 10px;
  border: 2px solid #fdbb77;
  box-shadow: 0 0 5px #ff7110;
  width: 25%;
  height: 400px;
  right: 70%;
  top: 320px;
  overflow: scroll;
}
.DashboardTitle2 {
  position: absolute;
  margin-top: 280px;
  left: 5%;
  color: black;
}
.DashboardListItem {
  display: flex;
  border-radius: 10px;
  font-size: 90%;
  border-bottom: 2px solid #ff7110;
  margin-top: 15px;
  margin-left: 5%;
  width: 90%;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.DashboardTitle1 {
  position: absolute;
  margin-top: 280px;
  left: 35%;
  color: black;
}
