.welcomeScreenContainer {
  position: absolute;
  background-color: #fdbb77;
  width: 90vw;
  height: 80vh;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.homeScreenText {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 50px;
}
.homeScreenText p {
  position: absolute;
  font-size: 2.5vw;
  font-family: "PT Sans";
  font-family: var(--textFont-primary);
}
