.container-article {
  display: flex;
  width: 80vw;
  height: 80vh;
  background-color: #364d79;
  margin-left: 10vw;
  margin-top: 8%;
  justify-content: center;
  position: relative;
}
.carouselArticle {
  width: 80vw;
  height: 80vh;
}
.carousel-article {
  width: 80vw;
  height: 800px;
}
.articleSpinner {
  position: absolute;
  left: 50vw;
  top: 45vh;
}
.rightoutlined {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: grey;
  z-index: 2;
  width: 3%;
  right: 0;
  font-size: 4rem;
  color: white;
  height: 100%;
  opacity: 0.2;
}

.rightoutlined:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.leftoutlined {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: grey;
  width: 3%;
  color: white;
  height: 100%;
  z-index: 2;
  opacity: 0.2;
  font-size: 4rem;
  left: 0;
}

.leftoutlined:hover {
  opacity: 0.5;
  transition: 0.3s;
}
