@import url('https://fonts.googleapis.com/css?family=PT+Sans|Permanent+Marker&display=swap');

.container-article {
  background-color: green;
  height: 83%;
  z-index: 1;
}

.article_name {
  color: white;
  padding-top: 1em;
  font-size: 1.5vw;
  font-family: 'Permanent Marker';
}
.article_content {
  color: white;
  font-family: 'PT Sans';
  font-size: 1vw;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.content-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 15px;
}
.articleLeftContainer {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 30vh;
}
.articleRightContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 35vw;
  height: 30vh;
}
.lineIndex {
  display: flex;
  justify-content: flex-start;
  font-family: 'PT Sans';
  text-align: left;
  width: 33.7vw;
  color: white;
  align-self: flex-start;
  margin: 3px;
  font-size: 1vw;
}


.rightoutlined {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: grey;
  z-index: 5;
  width: 3em;
  color: white;
  height: 100%;
  right: 0;
  opacity: 0;
}

.rightoutlined:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.leftoutlined {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: grey;
  z-index: 0;
  width: 3em;
  color: white;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}

.leftoutlined:hover {
  opacity: 0.5;
  transition: 0.3s;
}
