.containerWelcomeAnimation {
  position: absolute;
  width: 400px;
  right: 0;
  top: 10%;
  z-index: -1;
}
.dots-container {
  position: relative;
  width: 736px;
  height: 143px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -129%);
}

#logo {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -180%);
  animation: fill 0.5s ease forwards 3.9s;
}

#logo path:nth-child(12) {
  stroke-dasharray: 320px;
  stroke-dashoffset: 310px;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(13) {
  stroke-dasharray: 330px;
  stroke-dashoffset: 320px;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(14) {
  stroke-dasharray: 380px;
  stroke-dashoffset: 380px;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(15) {
  stroke-dasharray: 370px;
  stroke-dashoffset: 370px;
  animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(16) {
  stroke-dasharray: 310px;
  stroke-dashoffset: 310px;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(17) {
  stroke-dasharray: 230px;
  stroke-dashoffset: 230px;
  animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(18) {
  stroke-dasharray: 495px;
  stroke-dashoffset: 495px;
  animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(19) {
  stroke-dasharray: 225px;
  stroke-dashoffset: 225px;
  animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(20) {
  stroke-dasharray: 380px;
  stroke-dashoffset: 380px;
  animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(21) {
  stroke-dasharray: 310px;
  stroke-dashoffset: 310px;
  animation: line-anim 2s ease forwards 2.7s;
}

.dotOne {
  position: relative;
  width: 5px;
  height: 5px;
  left: 0px;
  top: 0.3px;
  background-color: black;
  opacity: 0;
  animation: opacity 1s ease forwards 1.5s;
}
.dotTwo {
  position: relative;
  width: 5px;
  height: 5px;
  left: 92px;
  top: 32px;
  background-color: black;
  opacity: 0;
  animation: opacity 1s ease forwards 1.7s;
}
.dotThree {
  position: relative;
  width: 5px;
  height: 5px;
  left: 211px;
  top: 97px;
  background-color: black;
  opacity: 0;
  animation: opacity 1s ease forwards 1.7s;
}
.dotFour {
  position: relative;
  width: 5px;
  height: 5px;
  left: 378px;
  top: 84px;
  background-color: black;
  opacity: 0;
  animation: opacity 1s ease forwards 1.8s;
}
.dotFive {
  position: relative;
  width: 5px;
  height: 5px;
  left: 432px;
  top: 26px;
  background-color: black;
  opacity: 0;
  animation: opacity 1s ease forwards 2s;
}
.dotSix {
  position: relative;
  width: 5px;
  height: 5px;
  left: 437.5px;
  top: 68px;
  background-color: black;
  opacity: 0;
  animation: opacity 1s ease forwards 2.1s;
}
.dotSeven {
  position: relative;
  width: 5px;
  height: 5px;
  left: 638px;
  top: 76px;
  background-color: black;
  opacity: 0;
  animation: opacity 1s ease forwards 2.1s;
}
.dotEight {
  position: relative;
  width: 5px;
  height: 5px;
  left: 727px;
  top: 64px;
  background-color: black;
  opacity: 0;
  animation: opacity 1s ease forwards 2.1s;
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@media only screen and (max-width: 765px) {
  #logo {
    display: none;
  }
  .welcomeScreenContainer {
    height: 60vh;
  }
  .dotOne {
    display: none;
  }
  .dotTwo {
    display: none;
  }
  .dotThree {
    display: none;
  }
  .dotFour {
    display: none;
  }
  .dotFive {
    display: none;
  }
  .dotSix {
    display: none;
  }
  .dotSeven {
    display: none;
  }
  .dotEight {
    display: none;
  }
}
