.VocabularyOfDayContainer h1 {
  text-align: center;
  padding-top: 4px;
  color: black;
}
.VocabularyOfDayContainer h3 {
  text-align: center;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.VocabularyOfDayContainer a {
  position: absolute;
  margin-right: 15px;
  right: 10px;
  bottom: 10px;
  text-align: center;
}
.updateIcon {
  position: absolute;
  right: 0;
  top: -5%;
}
