.containerCards {
  background-color: #fdbb77;
  padding: 2em;
  display: flex;
  justify-content: center;
  max-width: 1270px;
}
.cards {
  display: flex;
  width: 100%;
  justify-content: center;
}
.active-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 300px;
}
.spinnerCards {
  position: absolute;
  left: 50vw;
  margin-top: 20%;
}
