.containerCards {
  background-color: #fdbb77;
  padding: 2em;
  width: 90vw;
  display: flex;
}
.cards {
  display: flex;
  width: 100%;
}
.active-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 300px;
}
.spinnerCards {
  position: absolute;
  left: 50vw;
  margin-top: 40%;
}
