@import url("https://fonts.googleapis.com/css?family=PT+Sans|Permanent+Marker&display=swap");

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20em;
}
.quizFailedAnimation {
  position: absolute;
  background-color: #364d79;
  width: 100%;
  top: 0;
  height: 100%;
}
.container-quiz {
  width: 70%;
  margin: 10% 0% 15% 15%;
  position: absolute;
  height: 600px;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.container-carousel {
  display: flex;
  flex-direction: row;
  height: 500px;
  background-color: #364d79;
  text-decoration-color: white;
}

.question-label {
  color: white;
  padding-top: 0.5em;
  font-family: "Permanent Marker";
}

.container-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.answer-buttons {
  width: 70%;
  background-color: #ff7110;
  margin: 0.4em;
  font-family: "PT Sans";
}
.answer-buttons:focus {
  width: 70%;
  background-color: #ff7110;
  margin: 0.4em;
  color: black;
}

.answer-buttons:hover {
  width: 75%;
  height: 2.5em;
  background-color: #364d79;
  color: #ff7110;
  border-color: #ff7110;
  transition: 0.4s;
}
.container-indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 6em;
  height: 100px;
}
