@import "../../constants.css";

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20em;
}
.quizFailedAnimation {
  position: absolute;
  background-color: #364d79;
  width: 80vw;
  height: 60vh;
  left: 50%;
  top: 50vh;
  max-width: 1200px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.carouselQuiz {
  width: 80vw;
  max-width: 1200px;
  height: 60vh;
  position: relative;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  background-color: #364d79;
  align-content: center;
  display: flex;
}
.question-label {
  color: white;
  padding: 1em;
  font-family: var(--textFont-primary);
  width: 100%;
  margin-top: 5%;
  text-align: center;
}
.container-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}
.question-buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  align-items: center;
}

.answer-buttons {
  width: 70%;
  background-color: #ff7110;
  margin: 0.4em;
  font-family: var(--textFont-primary);
}
.answer-buttons:focus {
  width: 70%;
  background-color: #ff7110;
  margin: 0.4em;
  color: black;
}

.answer-buttons:hover {
  width: 75%;
  height: 2.5em;
  background-color: #364d79;
  color: #ff7110;
  border-color: #ff7110;
  transition: 0.4s;
}
.container-indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 6em;
  height: 100px;
}
