.cloudsList {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100px;
  right: 15vw;
  width: 70vw;
  background-color: #4f6eab;
  padding: 20px;
}
.cloudListItem {
  display: flex;
  justify-content: center;
  width: 60vw;
  z-index: 5;
}
.cloudListItemText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 5vh;
  font-size: 2vw;
}
