.profileContainers{
  display: flex;
  position: absolute;
  border: solid;
  border-color: #feca95;
  background-color: #fdbb77;
  border-width: 2px;
  margin-top: 20vh;
  margin-left: 7vw;
  margin-right: 7vw;
  height: 700px;
  top: 0;
}
.leftContainer {
  width: 40vw;
  height: 100%;
}
.rightContainer {
  height: 100%;
  width: 40vw;
}
.profileFormContainer {
  display: flex;
  flex-direction: column;
  background-color: #4f6eab;
  width: 90%;
  height: 320px;
  margin: 5%;
}

.profileUsername {
  display: flex;
  margin-top: 60px;
  margin-left: 60px;
  color: #4f6eab;
}
.profileUnderline {
  border-color: #4f6eab;
  margin-left: 5%;
  width: 90%;
}
.profileDetailsContainer {
  display: flex;
  flex-direction: column;
  background-color: #4f6eab;
  width: 90%;
  height: 540px;
  margin: 5%;
}
.displayDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
}
.profileContent {
  display: flex;
  position: absolute;
  overflow: hidden;
  left: 20vw;
  padding: 15px;
  color: white;
  font-size: 2vw;
}
.profileLabels {
  display: flex;
  padding: 15px;
  color: white;
  font-size: 2vw;
}
.profileIcon {
  color: white;
  font-size: 50px;
  margin: 0 20px;
  transition: 0.5s;
}
.profileIcon:hover {
    font-size: 70px;
    border: white;
    border-width: thick;
    border-color: white;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 10px white;
}

.profileIconsContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.profileFormContainer {
}
