.successAnimation {
  position: absolute;
  width: 65%;
  left: 50%;
  top: 150%;
  transform: translate(-50%);
  cursor: pointer;
}
.successAnimationText {
  width: 70%;
  color: white;
  font-size: 200%;
  margin-top: 5%;
  text-align: center;
}

.QuizAnimationContainer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}
/* LEAF1 */
#Leaf1 {
  animation-name: Leaf1;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
/* LEAF2 */
#Leaf2 {
  animation-name: Leaf2;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
}
/* LEAF3 */
#Leaf3 {
  animation-name: Leaf3;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 2s;
}
/* LEAF4 */
#Leaf4 {
  animation-name: Leaf4;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition-timing-function: ease-in;
  animation-delay: 3.3s;
}
/* LEAF5 */
#Leaf5 {
  animation-name: Leaf5;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition-timing-function: ease-in;
  animation-delay: 5s;
}
#LeftLeaves1,
#LeftLeaves2,
#LeftLeaves3 {
  animation-name: LeftLeaves;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition-timing-function: ease-in;
  animation-delay: 3.8s;
}

@keyframes Leaf1 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(400px) rotateX(180deg);
  }
}
@keyframes Leaf2 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(200px) rotateZ(90deg);
  }
}
@keyframes Leaf3 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(400px);
  }
}
@keyframes Leaf4 {
  50% {
    transform: translateX(60px) translateY(10px);
  }
  100% {
    transform: translateX(0px) translateY(100px);
  }
}
@keyframes Leaf5 {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(200px) translateY(50px) rotateX(45deg);
    opacity: 0;
  }
}
@keyframes LeftLeaves {
  100% {
    fill: #ff7110;
    opacity: 1;
  }
}
