.userboard {
  display: flex;
  justify-content: center;
  position: relative;
  position: fixed;
  right: 0;
  top: -140px;
  width: 20%;
  height: 200px;
  background-color: #ff7110;
  cursor: pointer;
  transition: top 1s;
}
.userboard:hover {
  top: 0;
  transition: top 1s;
  z-index: -5;
}
.welcomeText {
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 17px;
  color: white;
}
.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 15px;
}
.iconBoard {
  font-size: 17px;
  color: white;
  padding-top: 5px;
  padding-right: 5px;
  margin-right: 2px;
  z-index: 5;
}
.iconBoard:hover {
  color: #364d79;
}
.progressBar {
  margin-top: 1em;
  top: 0;
  left: 3em;
}
