.backgroundWaves {
  display: block;
  background-size: cover;
  position: absolute;
  overflow: visible;
  width: 100vw;
  height: 10000px;
  z-index: -5;
  animation-name: Waves;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  background-repeat: repeat;
  animation-timing-function: linear;
}

@keyframes Waves {
  100% {transform: translateX(-4493px)}
}
