.backgroundWaves {
  display: block;
  background-size: cover;
  position: absolute;
  width: 4493.5px;
  z-index: -5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  animation-name: Waves;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  background-repeat: repeat-x;
  background-size: cover;
  animation-timing-function: linear;
}

@keyframes Waves {
  100% {transform: translateX(-1000px)}
}
