.ProfileForm {
  margin-top: 20px;
}
.profileInput {
  margin: 20px;
  width: 90%;
}
.profileSubmitButton {
  margin: 20px;
  width: 90%;
  background-color: #FF7110;
  border-color: #4f6eab;
}
.profileSubmitButton:hover {
  background-color: #364d79;
  border-color: #4f6eab;
}
