.userboard {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  top: -100px;
  width: 20%;
  height: 160px;
  background-color: #FF7110;
  box-shadow: 2px 2px 2px #ccc;
  cursor: pointer;
  transition: top 1s;
  z-index: 5;
}
.userboard:hover {
  top: 0;
  transition: top 1s;
  z-index: 5;
}
.welcome-board {
  display: flex;
  position: absolute;
  bottom: 0;
  left:0;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 17px;
  color: white;
}
.profilePageButton {
  width: 80%;
  border-radius: 5px;
  border-color: #364d79;
  background-color: #364d79;
  margin-top: 15px;
}
.profilePageButton:focus {
  width: 80%;
  border-radius: 5px;
  border-color: #364d79;
  background-color: #364d79;
  margin-top: 15px;
}

.profilePageButton:hover {
  border-color: #364d79;
  background-color: #FF7110;
  box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}
