.userboard {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  top: -140px;
  width: 20%;
  height: 200px;
  background-color: #FF7110;
  box-shadow: 2px 2px 2px #ccc;
  cursor: pointer;
  transition: top 1s;
}
.userboard:hover {
  top: 0;
  transition: top 1s;
  z-index: -5;
}
.welcomeText {
  display: flex;
  position: absolute;
  bottom: 0;
  left:0;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 17px;
  color: white;
}
.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 15px;
  margin-right: 10px;
}

.iconBoard {
  position: relative;
  font-size: 17px;
  color: white;
  padding: 5px;
}
.iconBoard:hover {
  color: #364d79;
  z-index: 5;
}

.progressBar {
  margin-top: 1em;
  top: 0;
  left: 3em;
  font-size: 30px;
  z-index: 6;
}
