@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.base-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.login_image {
  width: 300px;
  border-radius: 100px;
  align-self: center;
  padding-top: 20px;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
}
.login-form-input {
  border-radius: 6px;
  min-width: 10em;
  min-height: 2.5em;
  padding: 0px 10px;
  margin-top: 15px;
  height: 2em;
  width: 90%;
  outline: none;
  font-size: 1rem;
  color: darkgray;
  border: 1px solid darkgray;
}
.login-form-input::placeholder {
  font-size: 1rem;
  color: lightgray;
}
.buttonSubmit {
  margin: 10px;
  top: 8px;
  width: 8em;
  height: 2.3em;
  background-color: #ff7110;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}
.buttonSubmit:hover {
  border-width: 1px;
  border-color: #364d79;
  box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}
.LoginButtonsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  bottom: 0;
  height: 150px;
}
.facebookLogin {
  margin: 5;
  border-radius: 5px;
  background-color: #3b5998;
  width: 250px;
  border: 0;
  height: 30px;
  color: white;
}
.facebookLogin:hover {
  background-color: #3b5998;
  color: white;
  box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}
.spinnerLogin {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 200px;
}
